/* .edui-menu */
.edui-menu{
    position: absolute;
    /*width: 40px;*/
    /*height: 40px;*/
    /*border-radius: 20px;*/
    /*background-image: url(./images/menu.png);*/
    /*-webkit-background-size: auto 40px;*/

    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #0b8feb -webkit-gradient(linear,0 0,0 100%,from(#159bf8),to(#0081dc));
    -webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.2);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transition: -webkit-transform 1s ease;
}
.edui-menu-plus{
    width: 40px;
    height: 40px;
    position: absolute;
    -webkit-transition: -webkit-transform 400ms ease;
}
.edui-menu-plus:before,
.edui-menu-plus:after {
    content: '';
    position: absolute;
    background: #fff;
    left: 50%;
    top: 50%;
}
.edui-menu-plus:before {
    width: 4px;
    height: 18px;
    margin: -9px 0 0 -2px;
}
.edui-menu-plus:after {
    width: 18px;
    height: 4px;
    margin: -2px 0 0 -9px;
}
.edui-menu-active .edui-menu-plus{
    -webkit-transform:rotate(315deg);
}


.edui-toolbar{
    position: absolute;
    width: 100%;
    height: 42px;
    padding: 0px 6px;
    /*border-radius: 3px;*/
    border-top: 1px #a6a6a6 solid;
    background-color: #f2f2f2;
    text-align: right;
}

/* edui-toolbar edui-btn */
.edui-btn {
    padding:0;
    margin:0;
    width: 40px;
    height: 40px;
    display: inline-block;
    overflow: hidden;
}
.edui-btn span {
    padding:0;
    margin:0;
    width: 40px;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    background: url(./images/icons.png) no-repeat;
    -webkit-background-size: auto 40px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /*-webkit-transition: 100ms;*/
}
.edui-btn span.edui-btn-photo {
    background-position: 0px 0px;
}
.edui-btn span.edui-btn-camera {
    background-position: -40px 0px;
}
.edui-btn span.edui-btn-record {
    background-position: -80px 0px;
}
.edui-btn span.edui-btn-emotion {
    background-position: -120px 0px;
}
.edui-btn span.edui-btn-remind {
    background-position: -160px 0px;
}
.edui-btn-active span{
    background: url(./images/icons-active.png) no-repeat;
}
.edui-btn span input{
    padding:0;
    margin:0;
    width: 34px;
    height: 40px;
    position: relative;
    opacity: 0;
    font-size: 40px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.edui-slider-wrapper{
    overflow: hidden;
    background-color: #666666;
}

/* slider幻灯的样式 */
.ui-slider{
    height: 100%;
}
.ui-slider .ui-slider-group {
    width: 100%;
    height: 100%;
}
.ui-slider .ui-slider-group .ui-slider-item {
    background:#666666;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: block;
}
.ui-slider .ui-slider-group .ui-slider-item img {
    width: 100%;
    display: block;
}
.ui-slider .ui-slider-dots {
    position: absolute;
    bottom: 6px;
    right: 0;
    padding: 0 6px;
    text-align: center;
    width: 100%;
}
/*.ui-slider .ui-slider-dots > b {*/
/*width: 10px;*/
/*height: 10px;*/
/*border-radius: 5px;*/
/*}*/

.ui-toolbar{
    background: #333333;
    line-height: 36px;
    height: 36px;
    text-align: center;
}
.ui-toolbar .ui-icon-back {
    float: left;
    font-size: 14px;
    color: #f7f7f7;
    margin: 2px 0px 0px 4px;
    width: 50px;
    height: 30px;
    line-height: 30px;
    background-image: url(./images/toolbar.png);
    background-position: 0px 0px;
}
.ui-toolbar .ui-pagebar {
    color: #f7f7f7;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
}
.ui-toolbar .ui-icon-delete {
    float: right;
    color: #f7f7f7;
    font-size: 0px;
    float: right;
    margin: 2px 4px 0px 0px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-image: url(./images/toolbar.png);
    background-position: 0px -36px;
}