.edui-btn {
    width: 34px;
    height: 34px;
    display: inline-block;
    overflow: hidden;
    background: url(./images/icons.png) no-repeat;
    -webkit-background-size: auto 34px;
}
.edui-btn-photo {
    background-position: 0px 0px;
}
.edui-btn-camera {
    background-position: -34px 0px;
}
.edui-btn-record {
    background-position: -68px 0px;
}
.edui-btn-emotion {
    background-position: -102px 0px;
}
.edui-btn-remind {
    background-position: -144px 0px;
}
.edui-btn input{
    width: 34px;
    height: 34px;
    position: relative;
    opacity: 0;
    font-size: 34px;
}

.edui-menu{
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    background-image: url(./images/menu.png);
    -webkit-background-size: auto 34px;
}
.edui-toolbar{
    position: absolute;
    width: 170px;
    height: 34px;
    padding: 0px 6px;
    border-radius: 3px;
    border: 1px #a6a6a6 solid;
    background-color: #f2f2f2;
}
.edui-slider-wrapper{
    overflow: hidden;
    background-color: #666666;
}

/* slider幻灯的样式 */
.ui-slider{
    height: 100%;
}
.ui-slider .ui-slider-group {
    width: 100%;
    height: 100%;
}
.ui-slider .ui-slider-group .ui-slider-item {
    background:#666666;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: block;
}
.ui-slider .ui-slider-group .ui-slider-item img {
    width: 100%;
    display: block;
}
.ui-slider .ui-slider-dots {
    position: absolute;
    bottom: 6px;
    right: 0;
    padding: 0 6px;
    text-align: center;
    width: 100%;
}
/*.ui-slider .ui-slider-dots > b {*/
/*width: 10px;*/
/*height: 10px;*/
/*border-radius: 5px;*/
/*}*/

.ui-toolbar{
    background: #333333;
    line-height: 36px;
    height: 36px;
    text-align: center;
}
.ui-toolbar .ui-icon-back {
    float: left;
    font-size: 14px;
    color: #f7f7f7;
    margin: 2px 0px 0px 4px;
    width: 50px;
    height: 30px;
    line-height: 30px;
    background-image: url(./images/toolbar.png);
    background-position: 0px 0px;
}
.ui-toolbar .ui-pagebar {
    color: #f7f7f7;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
}
.ui-toolbar .ui-icon-delete {
    float: right;
    color: #f7f7f7;
    font-size: 0px;
    float: right;
    margin: 2px 4px 0px 0px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-image: url(./images/toolbar.png);
    background-position: 0px -36px;
}